nav {
  position: fixed;
  top: 25px;
  left: calc(50% - 10px); /* ragt 10px in die Bilder (max-width: 50%) hinein */
  font-size: 12.6px !important;
  font-family: "Arial", Helvetica, sans-serif;
  z-index: 9999;
  line-height: 1;
  background: rgba(255, 255, 255, 1); /* 0.8 = 80% weiß */
  padding: 3px 6px;
}

nav a {
  color: #0000EE !important;
  text-decoration: underline !important;
  font-style: normal !important;
  font-size: 12.6px !important;
  display: inline-block;
  padding: 6px 12px;
}

@media screen and (max-width: 999px) {
  nav {
    top: 25px;
    left: auto;
    right: 30px;
    font-size: 13px !important;
  }

  nav a {
    font-size: 13px !important;
    padding: 8px 10px;
  }
}
