nav {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 15px;
  font-family: "Arial", Helvetica, sans-serif;
  z-index: 9999;
  line-height: 1;
}

nav a {
  color: black !important;
  text-decoration: none !important;
  font-style: normal !important;
  display: inline-block;
  text-shadow:
    0 0 3px white,
    0 0 6px white,
    0 0 9px white;
}

@media screen and (max-width: 999px) {
  nav {
    top: 15px;
    right: 15px;
    font-size: 13px;
  }
}
