/* für a geltend */
    a {
    font-style: oblique;
    font-style: bold;
    font-size: 18px;
    }
/* für p geltend */
    p {
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    }
/* für body geltend */ 
    body {
    margin: 25px;
	    font-family: "Times New Roman", Times, serif;
    }
/* für img geltend */
	img {
	display: block;
	max-width: 60%;
	height: auto;
	margin: 0 0 30 0;
		}
/* Response für Geräte mit max width px */
    @media screen and (max-width: 999px) {
      p {
        font-size: 12px;
	max-width: 300px;
      }
	    a {
        font-size: 17px;
	max-width: 300px;
      }
	img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: 0;
		}
	    }
/* highlighted Text*/
  	a::selection,
	p::selection,
	i::selection,
	u::selection,
	br::selection,
	b::selection,
	s::selection,	{
    background-color: #ffff99; /* Light yellow color for highlighting */
    color: #000; /* Change this to the desired text color */
  }
